.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: 5%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 1200px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-md.png") !important
  @media screen and (max-width: 768px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal-interior.png") !important

.banner-principal__row .banner-principal__img
  width: 370px !important
  @media screen and (max-width: 1200px)
    width: 370px !important
  @media screen and (min-width: 1400px)
    width: 430px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-sistema-texto

figcaption
  font-weight: normal

/// INTRO
.caja-intro
  background-color: #E5FAF6
  padding: 1rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 1.6rem 2rem

.caja-intro-1
  background-color: #F0EDFC
  padding: 1.6rem 2rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 2.5rem 2rem

/// TEMA 1
.caja-tema1
  background-color: #E5FAF6
  padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 2.5rem 2rem

.video
  iframe
    border-radius: 14px !important

.caja-tema1-1
  background-color: #FEF4E8
  padding: 1.5rem

.bg-slider
  background-image: url("../assets/curso/tema1/img3.jpg")
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem
.slyder-a__item
  padding: 4rem 3rem 1rem 4rem !important
.slyder-a__tipo-b
  padding: 0rem 2rem 2rem 2rem !important
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item 
  background-color: #FFDCA9 !important
  border: 0px
.slyder-a__bullets__item--active
  background-color: #FF9B08 !important
.slyder-a__bullets__item
  @media screen and (max-width: 768px)
    width: 10px !important
    height: 10px !important
    margin: 0.2rem
.ajuste-slider
  border-radius: 20px
  background-color: white
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4)

.caja-tema1-2
  background-color: #CCF5EC
  padding-right: 1rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.tabla-a
  width: 100% !important
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  table
    border-collapse: collapse
    width: 100%
    min-width: 500px
    table-layout: auto // acomoda celdas
  thead
    border: none !important
    background-color: $color-acento-contenido !important
  tbody
    border: none !important
    background-color: white !important
  td
    border: none
    padding: 1rem
  th
    padding: 1.5rem
    @media screen and (max-width: 1200px)
      padding: 0.5rem
.ajuste-border-tabla
  border-right: 1px solid #d5d5d5 !important
.ajuste-color-tabla
  background-color: #F6F6F6 !important
.texto-right
  text-align: right !important
.texto-left
  text-align: left !important

.bg-1
  background-image: url("../assets/curso/tema1/img9.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  background-position: center
  @media screen and (min-width: 1400px)
    background-size: 1325px

.caja-tema1-3
  background-color: #CCF5EC
  border-radius: 14px
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 2.2rem 2rem

.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: #5A5378
  width: 100%
  h3
    color: white !important
  p
    padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    width: 100%
    img
      padding-left: 3.5rem
.acordion__activo
  background-color: #CCF5EC
  h3
    color: $color-sistema-texto !important
.ajuste-cajaAcordion
  padding: 0rem 1rem 0rem 0rem

.ajuste-color-1
  background-color: #F7F5FD

.ajuste-caja-tema1-3
  background-color: #FEEAD2
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.ajuste-color-2
  background-color: #F0EDFC

.tarjeta.color-acento-contenido
  background-color: #5A5378
  @media screen and (max-width:  1200px)
    border-radius: 20px !important

.tarjeta.color-primario
  @media screen and (max-width: 1200px)
    border-radius: 20px !important

.caja-tema1-4
  background-color: #FEF4E8
  padding-right: 1rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    ul
      padding: 0rem 1.5rem 1.5rem 1.5rem
    p
      padding: 1rem 1.5rem 0rem 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.estilo___ul
  li
    margin-left: -1rem
.fa-arrow-alt-circle-right
  color: #FD9826 !important

.caja-tema1-5
  background-color: #5A5378
  border-radius: 11px
  padding: 1.5rem
  p
    color: white 
  h4
    color: white
.texto-negro
  span
    color: $color-sistema-texto !important
  i
    color: $color-sistema-texto !important

/// TEMA 2
.caja-tema2
  background-color: #E2DBF9
  padding: 2rem 3rem
  border-radius: 23px
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4)
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.ajuste-color-4
  background-color: #FEF4E8
  padding: 1.5rem

.caja-tema2-1
  background-color: #E5FAF6
  padding: 2rem 3rem
  border-radius: 23px
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4)
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.caja-tema2-2
  background-color: $color-acento-contenido
  border-radius: 30px
  display: inline-flex
  align-items: center
  padding: 1rem
  height: 40px
  margin-left: 0.2rem
  @media screen and (max-width: 768px)
    margin-left: 0rem
    padding: 0.5rem 1rem 0.5rem 1.5rem !important
    width: auto
    height: auto
  @media screen and (max-width: 1200px)
    padding: 1.5rem
    margin-left: 0.4rem
  h3
    margin-left: 0rem
    padding-left: 0rem
    align-items: center
    white-space: normal
    word-break: break-word
    margin-bottom: 0px
  img
    position: relative
    left: -5px
    bottom: 4px
    @media screen and (max-width: 1200px)
      bottom: 0px
    @media screen and (max-width: 768px)
      bottom: 0px

.ajuste-color-5
  padding: 2rem

.caja-tema2-3
  background-color: #E2DBF9
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.bg-carrusel
  background-image: url("../assets/curso/tema2/img30.png")
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem

.tarjeta.color-acento-botones
  background-color: white
  padding: 4rem 2.5rem !important
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  h4
    color: $color-sistema-texto
  p
    color: $color-sistema-texto
  i
    color: $color-sistema-texto
  b
    color: $color-sistema-texto
  li
    color: $color-sistema-texto
.horizontal-scroll__wrapper
  padding: 1rem 0.5rem
.fa-chevron-right
  color: $color-acento-botones
.fa-chevron-left
  color: $color-acento-botones
.estilo-text
  text-align: center
  padding: 0.3rem
.slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $color-sistema-texto
  border-radius: 50px
  padding: 0.8rem 1rem
.slyder-f__btn i:hover
  background-color: $color-acento-botones
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
  border: 1px solid white
  transition: opacity 0.3s ease-in-outbox-shadow 0.3s ease-in-out

.caja-tema2-4
  background-color: $color-primario
  border-radius: 5px
  display: inline-flex
  padding: 0.3rem 2rem

.fit___pasosA-left
  text-align: left


/// TEMA 3
.ajuste-color-3
  background-color: #F1FCF9

.caja-tema3
  background-color: #5A5378
  padding: 3rem 1.5rem
  border-radius: 20px
  h4
    color: white
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  margin-bottom: 2rem !important
  font-style: normal !important
.tarjeta-audio
  background-color: #FFFFFF
  border-radius: 10px
  border: 3px solid #B7A8F1 !important
  padding: 1rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio.color-acento-contenido .tarjeta-audio__input input[type=range]
  background: rgb(255, 233, 181)
  background-image: linear-gradient(#FF9B08, #FF9B08)
.audio__btn
  background-color: $color-acento-contenido !important

.caja-tema3-1
  background-color: #F1FCF9
  padding-right: 1rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    ul
      padding: 0rem 1.5rem 1.5rem 1.5rem
    p
      padding: 1.5rem 1.5rem 0rem 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.bg-2
  background-image: url("../assets/curso/tema3/img35.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.caja-tema3-2
  background-color: #F1FCF9
  padding-left: 1.5rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.ajuste-color-6
  background-color: #F4F3ED

.ajuste-color-4-1
  background-color: #FEF4E8
  padding: 2.8rem 1.5rem

.ajuste-color-4-2
  background-color: #FEF4E8
  padding: 2.5rem 1.5rem

.ajuste-color-7
  padding: 2.5rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 4rem 1.5rem


/// TEMA 4
.bg-3
  background-image: url("../assets/curso/tema1/img9.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.caja-tema4
  background-color: #E2DBF9
  padding: 1.5rem 1.5rem 0rem 1.5rem
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4)
  border-radius: 23px
  margin-top: 2rem !important
  img
    margin-top: -4rem !important
    position: relative
.fit___space-card
  @media screen and (max-width: 1200px)
    margin-bottom: 4rem

.caja-tema4-1
  background-color: #FEEAD2
  padding-right: 1rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.caja-tema4-2
  background-color: #FEEAD2
  padding-left: 1.5rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    ul
      padding: 0rem 1.5rem 1.5rem 1.5rem
    ol
      padding: 1.5rem
    p
      padding: 1.5rem 1.5rem 0rem 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.lista-ol--cuadro
  li
    display: flex
  span
    font-weight: bold
.lista-ol--cuadro__vineta
  color: $color-sistema-texto